numpy~=1.24.3
fastapi==0.95.0
pandas~=2.0.2
python-dateutil~=2.8.2
PyPDF2~=3.0.1
pydantic==1.10.7
requests~=2.31.0
uvicorn~=0.22.0
urllib3==1.26.8
typing-extensions
fuzzywuzzy==0.18.0
python-Levenshtein
awscli
nltk~=3.8.1
pyJWT==2.3.0
pyodbc==4.0.35
APScheduler==3.3.1
SQLAlchemy==2.0.7
boto3~=1.26.146
botocore~=1.29.146
cloudwatch~=1.0.5
demjson3
imutils
ssm-parameter-store
setuptools==65.5.1
python-magic
python-multipart
libmagic
httpx
coverage
datefinder
rapidfuzz~=3.1.0
starlette~=0.26.1